.App {
    --printer-button-color: rgb(216, 216, 52);
    --printer-button-hover-color: rgb(190, 190, 44);
    --language-button-color: rgb(52, 77, 216);
    --language-button-hover-color: rgb(51, 70, 180);
    --theme-button-color: rgb(46, 148, 52);
    --theme-button-hover-color: rgb(38, 124, 44);
}

.Blank {
    --back-color-1: rgb(255, 255, 255); 
    --back-hover-color : rgb(200, 200, 206); 
    --back-color-2: rgb(254, 254, 255); 
    --back-color-3: rgb(255, 255, 255); 
    color: var(--simple-text-color) !important;
    --simple-text-color: rgb(63, 63, 59);
    --title-color: rgb(78, 69, 64);
    --intro-background-color: rgb(204, 201, 209);
    --highlight-color: rgb(86, 78, 185);
    --hyperlink-color: rgb(15, 146, 58);
    --progressbar-background-color: rgb(179, 182, 181);
}

.Darcula {
    --back-color-1: rgb(0, 0, 0); 
    --back-hover-color : rgb(50, 50, 51); 
    --back-color-2: rgb(67, 64, 70); 
    --back-color-3: rgb(139, 128, 148); 
    color: var(--simple-text-color) !important;
    --simple-text-color: rgb(224, 224, 219);
    --title-color: rgb(207, 198, 70);
    --intro-background-color: rgb(144, 128, 163);
    --highlight-color: rgb(82, 202, 142);
    --hyperlink-color: rgb(207, 198, 70);
    --progressbar-background-color: rgb(179, 182, 181);
}

.Purple {
    --back-color-1: rgb(155, 17, 247); 
    --back-hover-color : rgb(143, 50, 206); 
    --back-color-2: rgb(153, 65, 235); 
    --back-color-3: rgb(176, 139, 209); 
    --simple-text-color: rgb(224, 224, 219);
    --title-color: rgb(252, 243, 127);
    --intro-background-color: rgb(151, 148, 155);
    --highlight-color: rgb(221, 212, 86);
    --hyperlink-color: rgb(140, 233, 143);
    --progressbar-background-color: rgb(170, 197, 184);
}

