.Default {
    background-color: var(--back-color-1);
    --back-color-1: rgb(155, 17, 247); 
    --back-color-2: rgb(153, 65, 235); 
    --back-color-3: rgb(176, 139, 209); 
    --simple-text-color: rgb(224, 224, 219);
    --title-color: rgb(252, 243, 127);
    --intro-background-color: rgb(151, 148, 155);
    --highlight-color: rgb(82, 202, 142);
}

.Darcula {
    background-color: var(--back-color-1);
    --back-color-1: rgb(0, 0, 0); 
    --back-color-2: rgb(67, 64, 70); 
    --back-color-3: rgb(139, 128, 148); 
    color: var(--simple-text-color) !important;
    --simple-text-color: rgb(224, 224, 219);
    --title-color: rgb(252, 243, 127);
    --intro-background-color: rgb(103, 82, 129);
    --highlight-color: rgb(82, 202, 142);
}

.Blank {
    background-color: var(--back-color-1);
    --back-color-1: rgb(255, 255, 255); 
    --back-color-2: rgb(254, 254, 255); 
    --back-color-3: rgb(255, 255, 255); 
    color: var(--simple-text-color) !important;
    --simple-text-color: rgb(63, 63, 59);
    --title-color: rgb(78, 69, 64);
    --intro-background-color: rgb(178, 171, 187);
    --highlight-color: rgb(86, 78, 185);
}
