/* container */
.curriculum-vitae-container {
    background: linear-gradient(
          0.2turn, 
          var(--back-color-1), 
          var(--back-color-2),
          var(--back-color-3)
      );
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: left;
    padding: 20px;
    color: var(--simple-text-color);
}

/* header */
.header .dropdown-menu {
    background-color: var(--back-color-1);
}

.header .dropdown-item {
  background-color : var(--back-color-1);
}

.header .dropdown-item:hover {
  background-color : var(--back-hover-color);
}

.header .dropdown-item:focus {
  background-color : var(--back-hover-color);
}

.header-button-container {
    position: relative;
}

.printer-button, .language-button, .theme-button {
    position: relative;
    margin: 0;
    left:50%;
    transform: translateX(-50%);
}

@media(width < 450px) {
    .printer-button, .language-button, .theme-button {
        font-size: small !important;
        height: 60px;
    }
}

.printer-button {
    background-color: var(--printer-button-color) !important;
    border: var(--printer-button-color) solid !important;
}

.printer-button:hover {
    background-color: var(--printer-button-hover-color) !important;
    border: var(--printer-button-hover-color) solid !important;
}

.language-button {
    background-color: var(--language-button-color) !important;
    border: var(--language-button-color) solid !important;
}

.language-button:hover {
    background-color: var(--language-button-hover-color) !important;
    border: var(--language-button-hover-color) solid !important;
}

.theme-button {
    background-color: var(--theme-button-color) !important;
    border: var(--theme-button-color) solid !important;
}

.theme-button:hover {
    background-color: var(--theme-button-hover-color) !important;
    border: var(--theme-button-hover-color) solid !important;
}

.dropdown-toggle::after {
    display: none !important;
}

a .dropdown-item {
    color: var(--simple-text-color) !important;
}

/* miscellaneous */
a {
    color: var(--hyperlink-color) !important;
    text-decoration: none !important;
}

.element > * {
    margin-bottom: 5px;
}

.element {
    padding-left: 30px;
    margin-top: 15px;
}

@media(width < 450px) {
    .element {
        padding-left: 15px;
    }
}

.icon, .element-of-icon {
    display: inline;
    vertical-align: middle;
}

.element-of-icon {
    margin-left: 10px;
    font-size: large;
}

.element-of-icon-left {
    margin-right: 10px;
}

hr {
    width: 70%;
    position: relative;
    left:50%;
    transform: translateX(-50%);
}

/* title */
.title {
    font-weight: bolder;
    text-transform: uppercase;
    padding-left: 10px;
    color: var(--title-color);
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    border: var(--highlight-color) solid 2px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px var(--highlight-color);
    position: relative;
    left:50%;
    transform: translateX(-50%);
    width: 75%;
}

.hyperlink-icon {
    padding-left: 10px;
}

@media(width < 450px) {
    .title {
        padding-left: 5px;
    }
}

/* intro */
.intro {
    padding: 10px;
    background: var(--intro-background-color);
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 20px;
}

.intro img {
    float: right;
    width: 100px;
    height: 100px;
}

@media(width < 400px) {
    .intro img {
        float: right;
        width: 50px;
        height: 50px;
    }
}

.prof {
    font-weight: lighter;
}

.summary {
    font-size: medium;
    margin-top: 20px;
}

/* skills */
.progress {
    width: 60%;
    background-color:var(--progressbar-background-color) !important;
}

@media(width < 450px) {
    .progress {
        width: 70%;
    }
}

.progress-bar, ::-webkit-progress-bar, ::-moz-progress-bar {
    background-color:var(--highlight-color) !important;
}

.frameworks {
    font-size: medium;
    padding-left: 25px;
    text-align: left;
}

/* experience */
.period {
    color: var(--highlight-color);
}

.period-date {
    text-decoration: underline;
}

.desc {
    font-style: italic;
    text-align: justify;
    width: 90%;
}

.desc, .reference {
    font-size: medium;
}

.reference {
    padding-left: 20px;
}

/* contact */
.contactinfo {
    margin-top: 15px;
    margin-bottom: 15px;
}

.contact {
    font-size: medium;
}