.App {
  text-align: center;
  background-color: rgb(54, 52, 52);
  --text-font-size: 17px;
  --title-font-size: 17px;
}

@media print {
  #capture {
      background-color: var(--back-color-1) !important;
  }
}
